<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whynuttalk.foreignteacher"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name="com.whynuttalk.foreignteacher.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.whynuttalk.foreignteacher.ui.main.MainActivity" />
        <activity android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.Splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.whynuttalk.foreignteacher.ui.H5Activity" />
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.login.VerificationCodeActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.login.SetPwdActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.userinfo.EditTeacherInfoActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.square.SquareDetailActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.report.ReportActivity"></activity>
        <activity android:name="com.whynuttalk.foreignteacher.ui.userinfo.StudentDetailActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.userinfo.TeacherDetailActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.order.single.OrderDetailActivity" />
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.userinfo.SelectLanguageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.order.group.GroupDetailActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.report.DeclinedActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.square.SquareCityActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.square.MomentActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.verification.VerificationActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.verification.TeachingCertificateActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.verification.UpLoadIdActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.wallet.WalletActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.wallet.WithDrawActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.invite.InviteActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.locate.LocationActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.order.single.RateActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.ListActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.about.AboutActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.about.FeedBackActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.setting.SettingActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.mine.setting.ChangPwdActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.order.single.PendingDetailActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.schedule.AddOfferActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.schedule.AddGroupOfferActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.schedule.EditScheduleActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.square.CommentDetailActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.schedule.IntroductionActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.msg.SystemMsgActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.msg.OrderMsgActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.msg.ChatActivity" />
        <activity android:name="com.whynuttalk.foreignteacher.ui.schedule.PreviewGroupOrderActivity" />
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity" />
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity" />
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.mine.InfoActivity"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.mine.setting.ChangeMobileActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.mine.setting.ResetMobileActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name="com.whynuttalk.foreignteacher.ui.mine.wallet.AddBankCardActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />


        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.whynuttalk.foreignteacher.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.amap.api.location.APSService"></service>

        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY" android:value="1160180131115282#foreignuser" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="098ca6b1227df1673f968cff4a6914de"></meta-data>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>
